In [34]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [35]:
# Set the path to your ChromeDriver executable
webdriver_path = 'C:\Program Files\ChromeDriver\chromedriver.exe'

# Configure Chrome options
chrome_options = Options()
#chrome_options.add_argument(--headless)  # Run Chrome in headless mode

In [37]:

base_url = 'https://www.glassdoor.fr/salaire/Dassault-Systemes-Salaires-E6162_P{}.htm'
# Define the total number of pages
total_pages = 3

# Create a new ChromeDriver instance
driver = webdriver.Chrome(service=Service(executable_path=webdriver_path), options=chrome_options)
datalist=[]
# Loop through the pages
for page_number in range(1, total_pages + 1):
    # Construct the URL for the current page
    url = base_url.format(page_number)
    # Navigate to the webpage
    driver.get(url)

    # Find the elements that contain the article titles
    element = driver.find_element(By.ID, 'SalariesRef') #By.CSS_SELECTOR, '#SalariesRef > div:nth-child(1) > div > div:nth-child(1) > div > a > strong')
    for i , child_element in enumerate (element.find_elements(By.XPATH, './*')):
        try:
            Nature=child_element.find_element(By.XPATH, 'div/div[1]/div/span').text.strip()
        except:
            Nature=""

        try:
            Bonus=int(child_element.find_element(By.XPATH, 'div/div[2]/div[2]/div[2]/div[2]/span[1]/strong/strong').text.replace('\u202f', '').replace('€', '')) 
        except:
            Bonus=0
        dic={'Position'   :child_element.find_element(By.XPATH, 'div/div[1]/div/a/strong').text.strip(),\
            'Nature'     :Nature,\
            'Salary'     :int(child_element.find_element(By.XPATH, 'div/div[2]/div[1]/span[1]/span/strong/strong').text.replace('\u202f', '').replace('€', '')) , \
            'Base Salary':int(child_element.find_element(By.XPATH, 'div/div[2]/div[2]/div[2]/div[1]/span[1]/strong/strong').text.replace('\u202f', '').replace('€', '')),
            'Bonus'      :Bonus }
        
        datalist.append(dic)
        driver.delete_all_cookies()
df=pd.DataFrame(datalist)
#driver.quit()
df.to_csv()
df

                            Position    Nature  Salary  Base Salary  Bonus
0                  Software Engineer             49500        42500   9250
1                          Ingénieur     STAGE   16478        16426   2054
2                          Stagiaire     STAGE   16098        16098      0
3   Ingénieur Développement Logiciel             50800        44845   8829
4                      Ingénieur R&D             50000        43397   8971
5                          Ingénieur             40000        39431   9142
6                             Intern     STAGE   14291        14291      0
7                     Data Scientist             49680        43895   8574
8                 Ingénieur Logiciel             48709        40383   9060
9                 Software Developer             42668        40701   4391
10                    Chef De Projet             59007        56000   8184
11                   Project Manager             57207        57207   6000
12                 Software Engineer     STAGE   15985        15970   2706
13             R&D Software Engineer             50525        43001   8705
14                         Ingénieur  APPRENTI   16921        16921   1906
15                     Ingénieur R&D     STAGE   16500        16500      0
16                        Consultant             47440        46038   5831
17                   Product Manager             76780        53784  16612
18          Software Engineer Intern     STAGE   18571        18571      0
19                Solution Architect             55274        51750   8000
20               Business Consultant             62000        56827  28503
21                           Manager             80000        79654  15000
22       Industry Process Consultant             49974        45000   8431
23                     Sales Manager            132018        73410  53263
24                               R&D     STAGE   16619        16619      0
25        Recherche et développement     STAGE   17017        17017      0
26               Solution Consultant             46857        46857      0
27                  Contract Manager             44379        42879   2000
28                  Business Analyst             69774        62180  11096
29                    Data Scientist     STAGE   19200        19183   3943
30                      Data Analyst     STAGE   15494        15494      0
31              Technical Consultant             55000        45000   9208
32     Software Engineer(Internship)     STAGE   16200        16200      0
33     Software Development Engineer             52052        44819   6743
34            Chef De Projet Digital             49500        49500   8233
35                       Développeur     STAGE   15465        15465      0
36                  Business Analyst     STAGE   17913        17913      0
37                Software Developer     STAGE   15712        15712      0
38                       Développeur             48288        41645  13578
39            Ingénieur De Recherche     STAGE   15544        15544      0
40            Ingénieur Informatique             47824        41869   7304
41               Front End Developer             45342        41074   4268
42              Solutions Consultant             48010        43711   4299
43  Ingénieur Développement Logiciel     STAGE   16504        16504      0
44                        Internship     STAGE   13270        13270      0
45                  Ingénieur Devops             40980        39359   5000
46                Software Architect             65535        59002  11000
47                    Senior Manager             72279        66074  12411
48            Ingénieur Informatique     STAGE   18478        18478      0
49                    Chef De Projet     STAGE   14988        14988      0
50            Senior Project Manager             70209        66324  13885
51            Ingénieur De Recherche             58016        47582  10217
52                Ingénieur Logiciel     STAGE   13817        13817      0
53                         Comptable             44362        44362      0
54                          Apprenti  APPRENTI   19551        19551      0
55          Business Process Analyst             48424        43427   9995
56                        Consultant     STAGE   14574        14574      0
57               Rédacteur Technique             42840        42392   5196
58                         Marketing             64252        61749  11125
59      Software Engineer Specialist             49205        41000   9039